:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-gray: hsl(0, 0%, 75%);
  --color-green: hsl(150, 74%, 47%);
  --color-green-subtle: hsl(151, 25%, 77%);
  --color-bg: hsl(225, 6%, 13%);
  --color-contact: hsl(160, 4%, 14%);
  --font-family-roboto: "Roboto Slab", serif;
  --font-family-minecraftia: "Minecraftia", cursive;
}

@font-face {
  font-family: minecraftia;
  src: url(../fonts/minecraftia/Minecraftia-Regular.ttf);
}

body {
  font-family: var(--font-family-roboto);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-white);
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.h3-divider {
  color: var(--color-green);
}

h4 {
  font-size: 1.8rem;
  color: var(--color-green);
  text-transform: uppercase;
  font-weight: 400;
}

p {
  font-size: 1.6rem;
}

.p-detail {
  color: var(--color-green-subtle);
}

.text-pgm {
  color: var(--color-green);
  font-family: var(--font-family-minecraftia);
}

a {
  color: var(--color-green);
  text-decoration: underline solid var(--color-green);
  font-weight: 900;
}

.a-gray {
  color: var(--color-gray);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: var(--color-green-subtle);
  text-decoration: underline solid var(--color-green-subtle);
}

/* Buttons */

.btn-primary-big {
  padding: 1rem 3rem;
  border: 2px solid var(--color-green);
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--color-black);
  background-color: var(--color-green);
  transition: all 0.3s;
}

.btn-primary-big:hover {
  color: var(--color-green);
  background-color: var(--color-white);
}

.btn-primary-small {
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-green);
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--color-black);
  background-color: var(--color-green);
  transition: all 0.3s;
}

.btn-primary-small:hover {
  color: var(--color-green);
  background-color: var(--color-white);
}

.btn-secondary-big {
  padding: 1rem 3rem;
  border: 2px solid var(--color-green);
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--color-green);
  background-color: var(--color-black);
  transition: all 0.3s;
}

/* margin and padding */

.mt-5 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.contact-box {
  background-color: var(--color-contact);
  border-radius: 15px;
}

/* varie */

.iconlist {
  height: 60px;
  margin: 25px;
}
